{{!-- handlebars code for inserting into {{{body}}} element of main.handlebars --}}
<div class="wrap">

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
        <span class="navbar-divider">|</span>
        <a class="navbar-brand" href="#">More from: </a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/scrape-ctg/search?term=">Coin telegraph</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape-ccn/search?term=">Cryptocoin news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape-mkl/search?term=">The merkle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape-bnc/search?term=">Brave new coin</a>
                </li>
            </ul>

            <nav class="navbar navbar-expand-md bg-dark navbar-dark ml-auto navbar-posn">
                <form class="form-inline" action="/search/search">
                    <input class="form-control mr-sm-2" type="text" name="term" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </nav>

            </form>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-8">

            <div class="card card-style">
                <div class="card-body">
                    <h4 class="card-title">Results of search for "{{searchterm}}"</h4>

                    <table class="table-display">

                        {{#if articles}} {{#each articles.results}}

                        <div>
                            <tr>
                                <td>
                                    <hr>
                                </td>
                                <td>
                                    <hr>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3" class="newsitem-image">
                                    <a target="blank" href={{this.link}}>
                                        <img src={{this.image}} height="100px">
                                    </a>
                                </td>
                                <td class="newsitem-title">
                                    <a target="blank" href={{this.link}}>{{this.title}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="newsitem-description">{{this.description}}</td>

                            </tr>
                            <tr>
                                <td>
                                    <span class="newsitem-date">From {{this.newssite_full}}. &nbsp;&nbsp;Published {{this.date}}</span>
                                    <span class="newsitem-btns">

                                        <button class="btn btn-sm newsitem-read-btn" data-value='{{this.link}}'>Read more...</button>

                                        <button type="button" class="btn btn-sm newsitem-save-btn" data-value='{
                                                    "title": "{{this.title}}",
                                                    "description": "{{this.description}}",
                                                    "image": "{{this.image}}",
                                                    "link": "{{this.link}}",
                                                    "date": "{{this.date}}",
                                                    "newssite_full": "{{this.newssite_full}}",
                                                    "newssite_abbr": "{{this.newssite_abbr}}"
                                                }'>Save</button>

                                    </span>
                                </td>
                            </tr>
                        </div>

                        {{/each}} {{else}} There are no articles to view. {{/if}}
                    </table>
                    <hr>
                </div>
                <div class="card-btns-center clearfix">
                    {{!-- card footer content here --}}
                    <br />
                </div>
            </div>

        </div>

        <div class="col-md-4">
            {{!-- sidebar content could go here --}}
        </div>




    </div>

</div>

<script>

    $(function () {

        $(".newsitem-read-btn").on("click", function (event) {

            window.open($(this).data("value"), '_blank');

        });


        $('.newsitem-save-btn').on("click", function (event) {

            var newItem = $.parseJSON($(this).attr("data-value"));

            // Modal box to input new customer details then make api call again

            var title = 'CoinScrape';
            var heading = '<table><tr><td><img src=' + newItem.image + ' height="50px"></td>';
            heading += '<td><span class="modal-heading">' + newItem.title + '</span></td></tr></table>';
            heading += '<br />Write a note to save with this article';
            var content = '<form id="new-note-form">';
            content += '<div class="form-group">';
            content += '<label for="new-note-author" class="form-control-label">Author</label>';
            content += '<input type="text" class="form-control" id="new-note-author" placeholder="Name">';
            content += '</div>';
            content += '<div class="form-group">';
            content += '<label for="new-note-text" class="form-control-label">Note</label>';
            content += '<textarea class="form-control" id="new-note-text" placeholder="Text"></textarea>';
            content += '</div>';
            content += '</form>';
            var date = '<div class="modal-date" id="modal-date">' + Date().slice(4, 15) + '</div>';
            var footer = '<button type="submit" class="btn btn-primary" data-dismiss="modal" id="modal-close-submit">Save</button>';
            footer += '<button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-close">Cancel</button>';

            createModal(title, heading, content, footer, date);

            $('#dynamicModal').on('hidden.bs.modal', function (e) {
                $(this).remove();
            });

            $("#modal-close-submit").on('click', function (event) {
                event.preventDefault();

                var noteAuthor = $('#new-note-author').val().trim();
                var noteText = $('#new-note-text').val().trim();
                var noteDate = Date().slice(4, 15);

                newSave = {
                    author: noteAuthor,
                    text: noteText,
                    date: noteDate,
                    article: newItem
                };

                console.log(newSave)

                $.ajax("/save", {
                    type: "POST",
                    data: newSave
                }).then(
                    function () {
                        alert("News item and notes successfully saved.")
                        location.reload();
                    });

            });

        });


        // Functions

        function createModal(title, heading, content, footer, date) {

            var html = '<div id="dynamicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">';
            html += '<div class="modal-dialog" role="document">';
            html += '<div class="modal-content">';
            html += '<div class="modal-header">';
            html += '<h5 class="modal-title" id="modal-title">' + title + '</h5>';
            html += '<button class="close" data-dismiss="modal" aria-label="Close">';
            html += '<span aria-hidden="true">&times;</span>';
            html += '</button>';
            html += '</div>';
            html += '<div class="modal-body">';
            html += heading + '<br /><br />'; //   modal heading text here
            html += content + '<br />'; //   modal form details here
            html += date;
            html += '</div>';
            html += '<div class="modal-footer">';
            html += footer; // modal footer here
            html += '</div>'; // close footer div
            html += '</div>'; // close content div
            html += '</div>'; // close dialog div
            html += '</div>'; // close modalWindow div

            $('body').append(html);

            $('#dynamicModal').modal();
            $('#dynamicModal').modal('show');

        };




    });   // close of $(function () {

</script>